@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*align-items: center;
  This is removed because align-items 
  determines the cross-axis size of flex items, and it is 
  normally at stretch. I want it to stay as stretch so that the
  flex'items's width, which defines the container's cross axis 
  while the box is in the column direction, takes up the 
  entire flex container's width,
   which should be the whole page*/

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px 8px 12px;
}



input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.left-links,
.right-links {
  list-style-type: none;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: gray;
}

.header {
  /*flex: 1; removed because you dont want to interfered
  with .body's justify-content of space-between*/
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  /*flex: 1; removed because you dont want to interfered
  with .body's justify-content of space-between*/
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.header .left-links {
  display: flex;
  padding: 0px;
  gap: 20px;
}

.header .right-links {
  display: flex;
  padding: 0px;
  gap: 20px;
}

.footer .left-links {
  display: flex;
  padding: 0px;
  gap: 20px;
}

.footer .right-links {
  display: flex;
  padding: 0px;
  gap: 20px;
}